.profit-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  margin-left: 28px;
}

/* 모든 셀렉트 박스 공통 스타일 */
.profit-filter select {
  width: 160px;
  height: 42px;
  padding: 9px 7px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  font-family: Roboto;
  color: #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  appearance: none;
  background-image: url("../../../assets/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

/* 비활성화된 셀렉트 박스 스타일 */
.profit-filter select:disabled {
  color: #d5d5d5;
  background-color: #f9f9f9;
}
